Repository T4rk1n/dazzler, changes with the labels that .github/labeler.yml gives for each.
All labels: component, core, extra, calendar, auth, renderer, documentation, system, component-generator, server, session, icons, ci

:books: Rebuild docs
  docs/api/dazzler.components.icons.rst
  docs/api/dazzler.components.rst
  docs/diff-docs.sh
Labels: documentation

:green_heart: Add python linting github action. #77
  .github/workflows/linting.yml
Labels: none

:green_heart: Add js linting github action. #77
  .github/workflows/linting.yml
Labels: none

:green_heart: Add diff-docs to github workflow. #77
  .github/workflows/linting.yml
Labels: none

:hocho: Remove linting from circle job. #77
  .circleci/config.yml
Labels: ci

:wrench: Add flake8 to requirements-dev.txt
  requirements-dev.txt
Labels: none

:arrow_up: Update react to 17.0.2
  .github/workflows/linting.yml
  dazzler/_renderer.py
  dazzler/assets/vendors/react-17-0-2.development.js
  dazzler/assets/vendors/react-17-0-2.production.min.js
  dazzler/assets/vendors/react-dom-17-0-2.development.js
  dazzler/assets/vendors/react-dom-17-0-2.production.min.js
  package-lock.json
  package.json
Labels: renderer

:hocho: Remove old react version from vendors.
  dazzler/assets/vendors/react-16-12-0.development.js
  dazzler/assets/vendors/react-16-12-0.production.min.js
  dazzler/assets/vendors/react-dom-16-12-0.development.js
  dazzler/assets/vendors/react-dom-16-12-0.production.min.js
Labels: none

:bug: Fix dropdown for react 17.
  src/core/js/components/Dropdown.jsx
Labels: component, core

:rotating_light: Fix versions tests.
  tests/test_dazzler.py
Labels: none

:pencil: Update changelog.
  CHANGELOG.md
Labels: none

:bookmark: Version 0.5.0
  dazzler/_version.py
Labels: none

.github/labeler.yml:

component:
  - src/**/components/**/*.jsx

core:
  - src/core/**/*
  - dazzler/components/core/*

extra:
  - src/extra/**/*
  - dazzler/components/extra/*

calendar:
  - src/calendar/**/*
  - dazzler/components/calendar/*

auth:
  - src/auth/**/*
  - dazzler/components/auth/*
  - dazzler/system/auth.py

renderer:
  - src/renderer/**/*
  - dazzler/_renderer.py

documentation:
  - docs/**/*

system:
  - dazzler/system/**/*

component-generator:
  - dazzler/system/_generator.py
  - src/internal/meta.js

server:
  - dazzler/_dazzler.py
  - dazzler/_server.py

session:
  - dazzler/system/session.py

icons:
  - src/icons/**/*

ci:
  - .circleci/config.yml
